<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger my-3 float-right"/>
        </form>
    </div>

    <form th:action="@{/process_location}" th:object="${geo}" method="post">

    <div class="mt-5">
        <label class="font-weight-bold"> Latitude: </label>
        <input id="latitude" th:field="*{latitude}" th:required="required" style="border: none; outline: none;">
        <label class="font-weight-bold"> Longitude: </label>
        <input id="longitude" th:field="*{longitude}" th:required="required" style="border: none; outline: none;">
        <label class="font-weight-bold"> DeviceID: </label>
        <input id="deviceID" th:field="*{deviceID}" th:required="required" style="border: none; outline: none;">
    </div>


        <div class="">
            <button id="submitBtn" type="submit" class="btn btn-primary my-3">Save</button>
        </div>

    </form>


    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>latitude</th>
                <th>longitude</th>
                <th>deviceID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="geo: ${listGeo}">
                <td th:text="${geo.latitude}">E-mail</td>
                <td th:text="${geo.longitude}">First Name</td>
                <td th:text="${geo.deviceID}">Last Name</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    var x = document.getElementById("demo");

    window.onload = function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            x.innerHTML = "Geolocation is not supported";
        }
    }

    function showPosition(position) {

        document.getElementById('latitude').value = position.coords.latitude
        document.getElementById('longitude').value = position.coords.longitude

        $.getJSON("https://api.ipify.org?format=json", function(data) {
            $("#deviceID").val(data.ip)
        })
    }


</script>

</body>
</html>
